#about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    background-color: #2f5a5a;
    border-radius: 10%;
    height: 765px;
    border: 4px solid black;
}

.about_container{
    display: flex;
    width: 1131px;
    position: relative;
    border: 4px solid black;
}

.container1{     
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: auto 1fr;
    border-radius: 10%;
}

.container2{
    display: flex;
    justify-content: flex-start;
}

.gif{
    display:flex;
    height: 125px;
    width: 167px;
}

.box1{
    width: 169px;
    height: 414px;
    background-color: #284B63;
    margin-top: -180px;
   
}

.box1 img{
    height: 414px;
    width: 167px;

}

.box2{
    width: 404px;
    height: 307px;
    background-color: #D9D9D9;
    border: 1px solid black;
}

q{
    font-style: italic;
    font-size: 1.5rem;
}

.q_text{
    margin-top: 120px;
    font-size: 1.3rem;
    font-weight: 700;
    
}



.education_container{
    width: 404px;
    height: 234px;
    background: #353533;
}

.education_container .oblique_text{
    color: #D9D9D9;
    font-style: oblique;
    font-size: 0.99rem;
    font-weight: light;
    margin-top: 40px;
    margin-left: 20px;
}

.white_text{
    display: flex;
    color: #D9D9D9;
    font-size: 1.25rem;
    font-weight: bold;
    justify-content: center;
}
.black_text{
    display: flex;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    justify-content: center;
}

.oblique_text{
    color: #D9D9D9;
    font-style: oblique;
    font-size: 0.99rem;
    font-weight: light;
    margin-top: 40px;
    padding-left: 10px;
}

.normal_text{
    color:#D9D9D9;
    font-size: 0.92rem;
    margin-top: 20px;
    margin-left: 20px;
}

.aboutme_container{
    width: 330px;
    height: 541px;
    background-color: #D9D9D9;
   
}

.clickme{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    padding-top: 50px;
}

.aboutme_container img{
    display: flex;
    width: 200px;
    justify-content: center;
    padding-top: 80px;
    margin-left: 50px;
    
}

.skillset_container{
    width: 220px;
    height: 541px;
    background-color: #284B63;
}

.skillset_container hr {
    display: flex;
    width: 180px;
    margin-left: 17px;
    
}

.skillset_container ul{
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom:40px;
}

.skillset_container ul li{
    padding-top: 10px;
}

/*queries for  about section*/
@media screen and (max-width: 1130px) {

    .about_container{
        flex-wrap: none;
        justify-content: center;
        border: none;
    }

    .education_container{
        width: 378px;
    }

    .box2{
        width: 378px;
    }

    .aboutme_container{
        width: 230px;
    }

    .aboutme_container img{
        width: 190px;
        margin-left: 15px;
    }

    .clickme{
        font-size: 2.7rem;
    }
    

    .skillset_container{
        width: 200px;
    }

}

@media screen and (max-width: 980px) {

    #about{
        height: 1200px;
    }

    .about_container{
        flex-wrap: wrap;
    }

    .box2{
        width: 378px;
    }

    .aboutme_container{
        width: 330px;
    }

    .aboutme_container img{
        width: 200px;
        margin-left: 60px;
    }

    .clickme{
        font-size: 3rem;
    }

    .skillset_container{
        width: 217px;

    }

    .skillset_container hr {
        margin-left: 1.5vw;
    }

}

@media screen and (max-width: 540px) {

    #about{
        margin-top: 170px;
        border-radius: 2%;
        height: 700px;
        justify-content: none;
    }

    .about_container{
        margin-top: none;
        display: flex;
        gap: 15px;
    }
   
    .gif{
        height: 90px;
        width: 66.5px;   
    }

    .box1{
        margin-top: -70px;
        width: 120px;
        height: 223px;
        background-color: #284B63;
    }

    .box1 img{
        height: 223px;
        width: 120px;
    
    }

    .box2{ 
        width: 160px;
        height: 160px;
        background-color: #D9D9D9;
       
    }

    q{
        font-style: italic;
        font-size: 0.90rem;
    }
    
    .q_text{
        margin-top: 45px;
        font-size: 0.75rem;
        font-weight: 700;
        
    }

    .education_container{
        width: 160px;
        height: 154px;
        background: #353533;
    }

    .education_container .oblique_text{
        font-size: 0.65rem;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .white_text{
        display: flex;
        color: #D9D9D9;
        font-size: .90rem;
        font-weight: bold;
        justify-content: center;
    }
    .black_text{
        display: flex;
        color: black;
        font-size: .90rem;
        font-weight: bold;
        justify-content: center;
    }
    
    .oblique_text{
        color: #D9D9D9;
        font-style: oblique;
        font-size: 0.65rem;
        font-weight: light;
        margin-top: 10px;
        padding-left: 10px;
    }
    
    .normal_text{
        color:#D9D9D9;
        font-size: 0.63rem;
        margin-top: 20px;
        margin-left: 20px;
    }
    

    .container2{
        justify-content: flex-start;
    }

    .aboutme_container{
        width: 160px;
        height: 300px;
        background-color: #D9D9D9;
    }

    .clickme{
        display: flex;
        font-size: 1.7rem;
        justify-content: center;
        padding-top: 50px;
    }
    
    .aboutme_container img{
        display: flex;
        width: 100px;
        justify-content: center;
        padding-top: 40px;
        margin-left: 28px;
        
    }
    .skillset_container{
        width: 120px;
        height: 300px;
        background-color: #284B63;
    }

    .skillset_container hr {
        width: 100px;
    }
    
    .skillset_container ul{
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom:10px;
    }
    
    .skillset_container ul li{
        padding-top: 10px;
    }
}


