* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: #353535;
}

html {
    scroll-behavior: smooth;
}

a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */
header{
    align-items: center;
    display: flex;
    position: sticky;
    justify-content: center;
    top: 0;
    z-index: 1000;
}

nav, .nav-links {
    display: flex;
}

nav{
    
    display: flex;
    background: #396D6D;
    margin: 50px 10px 0 0px ;
    width: 970px;
    height: 65.18px;
    border-radius: 40px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    /*transform: translateX(-30%);*/
}

.nav-links{
    float: right;
    gap: 7rem;
    list-style: none;
    text-decoration-style: none;
    font-size: 1.3rem;
}

.logo{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 50px 50px 0;
    color: #ffff;
    text-shadow: 2px 2px 4px #000000;
}

.ey{
    display: flex;
    font-size: 1.3rem;
    list-style: none;
    text-decoration-style: none;
    margin-right: 13.25rem;
    float: right;
}

a{
    color: #ffff;
    text-decoration: none;
    font-weight: 400;
}

/*Hamburger Menu*/
#hamburger-nav {
    display: none;
    
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 25px;
    cursor: pointer;
    margin: 3px;
}

.hamburger-icon span{
    width: 25px;
    height: 3px;
    background-color: #d9d9d9;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #396D6D;
    width: fit-content;
    max-height: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    font-size: 1.5rem;
    color: #d9d9d9;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

#profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.homepage_container{
    width:1100px;
    flex-wrap: wrap;

}

.intro {
    padding-left: 100px;
    margin-top: 140px;
    color: #D9D9D9;
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
}

.section_pic-container {
    display: flex;
    margin: 50px 40px 0px 0px;
    width: 330px;
    height: 330px;
    border-radius: 60%;
    background-color: #D9D9D9;
    overflow: hidden;
    box-shadow: 0 0 0 3px #1AABB0;
    justify-content: center; 
    align-items: center;
    float: right;
    padding-left: auto;
}

.hero{
    width: 250px;
    height: 250px;
    border-radius: 60%;
}

h1 {
    font-size: 3.2rem;
    font-weight: normal;
}

p {
    overflow: visible;
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.highlight {
    font-weight: bold;
    color: #ffff;
    text-shadow: 2px 2px 4px #000000;
}

.ellipse {
    font-size: 2.5rem;
    font-weight: normal;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #00B4A2;
    border-radius: 48% / 48%; 
}

.section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.btn-container{
    padding-left: 130px;
    margin-top: 50px;
   
}

.btn {
    background-color: #396D6D;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 300ms ease;
    align-content: center;
    box-shadow: 0.5rem 1rem rgba(27, 31, 29, 0.616);
}

.btn:hover {
    background-color: #2f5a5a;
}


