#contact{
    color: #d9d9d9;
    height: 583px;
    text-align: center;
  
}

h3{
    font-style: italic;
    font-size: 2.3rem;
    font-weight: 50px;
}

.contact-container {
    max-width: 1000px;
    margin: 100px auto;
    
}

.contact-container p {
    font-size: 1rem;
    margin-bottom: 10px;
    font-style: italic;
}

.contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 120px;
}

.email {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.email img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.contact-details hr {
    display: flex;
    width: 1000px;
    border: 1px solid #d9d9d9;
   
}

.social-icons {
    width: 1000px;
   
    display: flex;
    justify-content: right;
    gap: 20px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    h3{
        font-style: italic;
        font-size: 1.3rem;
        font-weight: lighter;
    }

    #contact{
        color: #d9d9d9;
        height: 300px;
        text-align: center;
    }

    .contact-container {
        max-width: 1000px;
        margin: 10px auto;
    }

    .contact-container p {
        font-size: 0.7rem;
        font-style: italic;
    }

    .email img {
        width: 20px;
        height: 20px;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
    }

}

@media screen and (max-width: 360px) {

    h3{
        font-style: italic;
        font-size: 1.3rem;
        font-weight: lighter;
    }

    #contact{
        color: #d9d9d9;
        height: 300px;
        text-align: center;
    }

    .contact-container {
        max-width: 1000px;
        margin: 10px auto;
    }

    .contact-container p {
        font-size: 0.7rem;
        font-style: italic;
    }

    .email img {
        width: 20px;
        height: 20px;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
    }
    
}